body {
    background: linear-gradient(0deg,#0d0d0e,#1b1b1f,#2a2a31,#363642,#363642,#353546 );
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

main section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI';  
    background-color: #1b1b1f; 
    color: #5865F2;
    width: 70vw;
    height: 250px;
    background-color: #222229;
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgb(5, 5, 5);
}

main section:hover {
    border-radius: 40px;
    transition: 0.5s;
}

main section:not(:hover) {
    transition: 0.5s;
}

main img {
    width: 125px;
    min-width: 50px;
    height: auto;
}

main div img {
    width: 40px;
    min-width: 20px;
    min-height: auto;
    height: auto;
    top: 67%;
    position: absolute;
    right: 49%;
    border-radius: 40px;
    box-shadow: 0px 0px 9px black;
}

main div img:hover {
    opacity: 80%;
    transition: 0.1s;
    box-shadow: 0px 0px 9px black;
}

#discord:hover {
    width: 155px;
    height: auto; 
    transition: 0.4s;
}

#discord:not(:hover){
    transition: 0.3s;
}