body {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(#5865F2, #5865F2, #2131db);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    border: 0;
    background-color: #5865F2;
    color: white;
    font-size: 1.3rem;
    box-shadow:0px 0px 4px rgb(19, 19, 20);
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 2px;
}

:root {
    font-size: 62.5%;
}
/*CABEÇALHO|HEADER*/

header { 
    background-color: rgb(15, 15, 15);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    position: relative;
}

header div {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

.asterisco {
    color: #ffffff;
}

header img {
    width: 90px;
    
    
}

header .menu {
    padding: 20px;
    margin-left: 25px;
    display: flex;
}

.menu li a{
    margin: 15px;
    color: #5865F2; 
    text-decoration: none;
    font-weight: 300;
    font-size: 1.6rem;
}

#burguer2 {
    background-color: rgb(15, 15, 15);
    margin-right: 35px;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 40px;
    top: 90px;
    position: fixed;
    display: none;
}

#burguer2 ul {
    margin: 0;
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
}

#burguer2 ul a {
    color: #5865F2;
}

#button-login {
    width: 140px;
    height: 44px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48,
}

#burguer {
    cursor: pointer;
    margin-right: 15px;
    margin-left: 30px;
    display: none;
}

#burguer:hover {
    background-color: #50505054;
    padding: 6px;
    border-radius: 50%;
    margin-right: 9px;
    margin-left: 24px;
}

.menu li a:hover {
    text-decoration: underline;
}

#button-login:hover {
    background-color: #ffffff;
    color: #5865F2;
    font-weight: bold;
    transition: 0.5s;
    box-shadow:0px 0px 4px black;
    cursor: pointer;
}

header button:not(:hover) {
    transition: 0.5s;
}

/*CONTEÚDO*/

#centralize-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130vh;
    width: 100%;
}

#caixa-wumpus {
    width: 1050px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 820px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(#2e2e36, #2e2e36, #2e2e36, rgb(33, 33, 36));
}

main h1 {
    margin: 25px;
    color: #5865F2;
    font-size: 3.5rem;
    font-weight: 700;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #ffffff;
    font-size: 3.0rem;
    font-weight: 700;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin: 5px;
    background-color: #1f1e2c;
    border-radius: 5px;
    width: 450px;
    height: 35px;
    color: #ffffff;
}

.label-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 7px;
}

.label-input label {
    text-align: start;
    width: 430px;
    font-size: 1.6rem;
    color: #72708b;
    font-weight: bold;
    letter-spacing: 1px;
}

::placeholder {
    padding-left: 5px;
}

form button {
    width: 450px;
    height: 47px;

}

/*Animações*/

form input:focus {
    box-shadow: 0px 0px 5px 2px #5865F2;
}

form input:hover {
    background-color: #383747;
    border-radius: 10px;
}

form button:hover {
    border-radius: 16px;
    color: #5865F2;
    background-color: aliceblue;
    font-weight: bold;
    transition: 0.5s;
    box-shadow:0px 0px 15px 2px rgb(19, 19, 20);
}

form button:not(:hover) {
    transition: 0.5s;
}