@media (max-width: 820px) {
    main {
        width: 525px;
    }

    main:hover {
        width: 560px;
    }

    .label-input label {
        width: 430px;
    }
}


@media (max-width: 743px) {
    /*Header*/

    header img {
        width: 70px;
    }

    header .menu {
        font-size: 1.3rem;
    }

    #button-login {
        width: 100px;
        height: 37px;
        font-size: 1.1rem;
    }

}

@media (max-width: 607px) {
    /*Main*/

    main {
        width: 450px;
        height: 360px;
    }

    form input {
        margin: 3px;
        width: 325px;
        height: 38px;
    }

    form button {
        width: 200px;
        min-width: 100px;
        background-color: #2e2e36;
        color: aliceblue;
        height: 40px;
        min-height: 20px;
        font-size: 1.3rem;
        margin-bottom: 0;
    }

    main:hover {
        width: 500px;
    }

    .label-input label {
        width: 305px;
    }
    
}

@media (max-width: 520px) {
    /* Header */
    #button-login {
        width: 80px;
        height: 30px;
        font-size: 1.1rem;
        font-weight: 400;
    }

    #burguer {
        display: block;
    }

    nav .menu {
        display: none;
    }

    .material-symbols-outlined {
        color: #ffffff;
        display: inline-block;
    }

    header img {
        margin-left: 20px;
    }

    /*Main*/

    main {
        width: 385px;
        height: 328px;
    }

    form input {
        margin: 3px;
        width: 280px;
        height: 34px;
    }

    form button {
        width: 170px;
        min-width: 100px;
        background-color: #2e2e36;
        color: aliceblue;
        height: 40px;
        min-height: 20px;
        font-size: 1.3rem;
        margin-bottom: 0;
    }

    main:hover {
        width: 385px;
    }

    .label-input {
        margin-bottom: 3px;
    }

    .label-input label {
        width: 270px;
        font-size: 1.5rem;
    }
}

@media (max-width: 438px) {
    /*Main*/

    main {
        width: 330px;
        height: 300px;
    }

    form input {
        margin: 3px;
        width: 250px;
        height: 28px;
    }

    form button {
        width: 150px;
        min-width: 100px;
        background-color: #2e2e36;
        color: aliceblue;
        height: 38px;
        min-height: 20px;
        font-size: 1.3rem;
        margin-bottom: 0;
    }

    main h1 {
        font-size: 2.7rem;
        height: 40px;
    }
    
    main:hover {
        width: 330px;
    }

    .label-input {
        margin-bottom: 3px;
    }

    .label-input label {
        width: 235px;
        font-size: 1.3rem;
    }
}

@media (max-height: 670px) {
    /*Main*/

    main {
        width: 300px;
        height: 300px;
    }

    form input {
        margin: 3px;
        width: 220px;
        height: 28px;
    }

    form button {
        width: 140px;
        height: 34px;
    }
    
    main:hover {
        width: 340px;
    }

    .label-input {
        margin-bottom: 3px;
    }

    .label-input label {
        width: 210px;
        font-size: 1.3rem;
}